# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.metadata
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig

# Windows
windows/flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/
**/.DS_Store

# Android
android/.gradle/
android/app/build/
android/.idea/

# Server data
server/pb_data/
server/pocketbase
server/pocketbase.exe

# OS
Thumbs.db
